<div class="dashboard">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-sales">
                <div class="overview-title">INVOICE</div>
                <i class="fa fa-arrow-circle-up"></i>
                <div class="overview-numbers"  style="font-size:5ch;">
                    <strong>{{currencySymbol}}0.00</strong>
                </div>
                <div class="overview-ratios" >9% more than previous month</div>
                <img
                    src="assets/layout/images/icon-sales.png"
                    alt="california-layout"
                />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-views">
                <div class="overview-title">
                    BILLS
                    <i class="fa fa-arrow-circle-down"></i>
                </div>
                <div class="overview-numbers"  style="font-size:5ch;"><strong>{{currencySymbol}}0.00</strong></div>
                <div class="overview-ratios">2% less than previous month</div>
                <img
                    src="assets/layout/images/icon-views.png"
                    alt="california-layout"
                />
            </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-4">
            <div class="overview-box monthly-users">
                <div class="overview-title">
                    EXPENSES
                    <i class="fa fa-arrow-circle-up"></i>
                </div>
                <div class="overview-numbers"  style="font-size:5ch;"><strong>{{currencySymbol}}0.00</strong></div>
                <div class="overview-ratios">9% more than previous month</div>
                <img
                    src="assets/layout/images/icon-users.png"
                    alt="california-layout"
                />
            </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/vendor.png"
                            alt="california-layout"
                            class="message-icon"
                        />
                    </div>
                    <div class="stats-numbers">Add Vendor</div>
                    <div class="stats-title">Unread Messages</div>
                    <div class="stats-subtitle">
                        You stared <span>{{currencySymbol}}0.00</span> messages today
                    </div>
                </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/budget.png"
                            alt="california-layout"
                            class="doc-icon"
                        />
                    </div>
                    <div class="stats-numbers">Create Budget</div>
                    <div class="stats-title">Files Synced</div>
                    <div class="stats-subtitle">
                        <span>21%</span> more than yesterday
                    </div>
                </div>
            </a>
            
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/invoice.png"
                            alt="california-layout"
                            class="mark-icon"
                        />
                    </div>
                    <div class="stats-numbers">Invoice</div>
                    <div class="stats-title">Check-ins</div>
                    <div class="stats-subtitle">
                        <span>12%</span> less than yesterday
                    </div>
                </div>
            </a>
            
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/bill.png"
                            alt="california-layout"
                            class="profile-icon"
                        />
                    </div>
                    <div class="stats-numbers">Bills</div>
                    <div class="stats-title">Users Online</div>
                    <div class="stats-subtitle">
                        <span>35210</span> total page view today
                    </div>
                </div>
            </a>
           
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/estimate.png"
                            alt="california-layout"
                            class="message-icon"
                        />
                    </div>
                    <div class="stats-numbers">New Expense</div>
                    <div class="stats-title">Unread Messages</div>
                    <div class="stats-subtitle">
                        You stared <span>{{currencySymbol}}0.00</span> messages today
                    </div>
                </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/income.png"
                            alt="california-layout"
                            class="profile-icon"
                        />
                    </div>
                    <div class="stats-numbers">Receive Income</div>
                    <div class="stats-title">Users Online</div>
                    <div class="stats-subtitle">
                        <span>35210</span> total page view today
                    </div>
                </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/requisition.png"
                            alt="california-layout"
                            class="doc-icon"
                        />
                    </div>
                    <div class="stats-numbers">Requisition</div>
                    <div class="stats-title">Files Synced</div>
                    <div class="stats-subtitle">
                        <span>21%</span> more than yesterday
                    </div>
                </div>
            </a>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <a href="javascript:void(0)">
                <div class="stats">
                    <div class="stats-icon">
                        <img
                            src="assets/layout/images/icon/assets.png"
                            alt="california-layout"
                            class="mark-icon"
                        />
                    </div>
                    <div class="stats-numbers">Asset Inventory</div>
                    <div class="stats-title">Check-ins</div>
                    <div class="stats-subtitle">
                        <span>12%</span> less than yesterday
                    </div>
                </div>
            </a>
        </div>
        

    </div>
</div>
