/* .layout-footer {
    background-color: #3E3438;
    padding: 20px 25px;
  }
  .layout-footer h3 {
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    margin: 0;
  }
  .layout-footer p {
    color: #9faebf;
    font-size: 14px;
    display: block;
    opacity: 0.9;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .layout-footer a {
    color: #9faebf;
  }
  .layout-footer a i {
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    margin-left: 30px;
  }
  .layout-footer a:hover {
    color: #ffffff;
  }
  .layout-footer .footer-right {
    padding-top: 25px;
    text-align: right;
  }

  .landing-wrapper .footer .grid > .col-12 {
    padding-top: 32px;
  } */